*.log
.DS_Store
.env*
!.env.example
.phpactor.json
.phpunit.result.cache
/.codex
/.cursor/
/.fleet
/.history
/.idea
/.nova
/.phpunit.cache
/.vscode
/.zed
/auth.json
/coverage
/database/*.dump
/database/*.sql
/database/*.sqlite*
/node_modules
/public/build
/public/css/filament
/public/fonts-manifest.dev.json
/public/fonts/filament
/public/hot
/public/js/filament
/public/storage
/storage/*.key
/storage/pail
/tmp_*.php
/vendor
_ide_helper.php
Homestead.json
Homestead.yaml
npm-debug.log*
yarn-debug.log*
yarn-error.log*
Thumbs.db
